# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [9]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [36]:
# Load the csv exported in Part 1 into a DataFrame
weather_data = pd.read_csv("../output_data/cities.csv")
weather_data.dropna(inplace = True)
weather_data = weather_data[["City", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed", "Country", "Date"]]
weather_data.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Port Alfred,-33.5906,26.8910,58.75,65,0,5.06,ZA,1629757399
1,Vaini,-21.2000,-175.2000,73.56,78,20,12.66,TO,1629757399
2,Jishou,28.3167,109.7167,76.15,99,100,0.56,CN,1629757400
3,Rawson,-43.3002,-65.1023,44.78,40,3,23.55,AR,1629757252
4,New Norfolk,-42.7826,147.0587,38.71,87,13,2.89,AU,1629757400

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [11]:
# Access maps with API key
gmaps.configure(api_key=g_key)

In [33]:
# Store latitude and longitude in locations
locations = weather_data[["Lat", "Lng"]]

# Fill NaN values and convert to float
humidity = weather_data["Humidity"].astype(float)

# Find max humidity for max intensity
max_humidity = humidity.max()

# Customize the size of the figure
figure_layout = {
    "width": "600px",
    "height": "450px",
    "border": "1px solid black",
    "padding": "1px",
    "margin": "0 auto 0 auto"
}

# Plot Heatmap
fig = gmaps.figure(layout=figure_layout, center=(0, 0), zoom_level=1)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=max_humidity, point_radius=3)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='450px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [37]:
# Narrow down the cities to fit weather conditions
vacation_data = weather_data.loc[(weather_data["Max Temp"] <= 82) &
                                 (weather_data["Max Temp"] >= 75) &
                                 (weather_data["Humidity"] <= 80) &
                                 (weather_data["Humidity"] >= 50) &
                                 (weather_data["Cloudiness"] <=25) &
                                 (weather_data["Wind Speed"] <=10)
                                ]

# Drop any rows with null values
vacation_data.dropna(inplace = True)

vacation_data

<ipython-input-37-c23947223c97>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vacation_data.dropna(inplace = True)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
33,Jamestown,42.0970,-79.2353,81.09,68,20,5.99,US,1629757251
83,Ponta do Sol,32.6667,-17.1000,75.83,79,2,2.17,PT,1629757419
188,Mahon,39.8885,4.2658,75.76,69,0,6.91,ES,1629757203
295,Goderich,43.7501,-81.7165,80.20,73,7,5.75,CA,1629757470
437,Methóni,36.8197,21.7049,80.22,66,0,6.35,GR,1629757505
488,Mitsamiouli,-11.3847,43.2844,76.46,72,5,3.11,KM,1629757518
507,Syracuse,37.0881,15.2792,80.89,60,0,7.16,IT,1629757522
511,Ugoofaaru,5.6667,73.0000,81.36,75,9,7.43,MV,1629757523
568,Xaçmaz,41.4635,48.8060,75.69,62,5,5.19,AZ,1629757537

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [58]:
# Variable to collect hotel data
hotel_df = pd.DataFrame()

# Add a "Hotel Name" column to the DataFrame
hotel_df["Hotel Name"] = ""

# Add "Lat","Lng", "City", and "Country" columns to the DataFrame
hotel_df["Lat"] = ""
hotel_df["Lng"] = ""
hotel_df["City"] = ""
hotel_df["Country"] = ""

In [60]:
# Set url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Use iterrows to iterate through pandas dataframe
for index, row in vacation_data.iterrows():
    # Set location equal to current city in DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    location = f"{lat},{lng}"
    # Set parameters to search for hotels within 5000 meters.
    params = {
        "location": location,
        "rankby": "distance",
        "type": "hotel",
        "keyword": "hotel",
        "key": g_key
    }
    # Hit the Google Places API for each city's coordinates.
    response = requests.get(base_url, params=params).json()
    # Store the first hotel result into the DataFrame.
    try:
        hotel_df.loc[index, "Hotel Name"] = response["results"][0]["name"]
        hotel_df.loc[index, "Lat"] = response["results"][0]["geometry"]["location"]["lat"]
        hotel_df.loc[index, "Lng"] = response["results"][0]["geometry"]["location"]["lng"]
    except:
        print("Missing field/result: skipping.")
    # Store the city and country from original DataFrame
    hotel_df.loc[index, "City"] = row["City"]
    hotel_df.loc[index, "Country"] = row["Country"]

# Show DataFrame of hotel data
hotel_df

,Hotel Name,Lat,Lng,City,Country
33,DoubleTree by Hilton Jamestown,42.097107,-79.243347,Jamestown,US
83,Hotel Enotel Baía,32.679527,-17.104254,Ponta do Sol,PT
188,Hotel Hevresac,39.887769,4.266176,Mahon,ES
295,Colborne Bed and Breakfast,43.744892,-81.713361,Goderich,CA
437,HOTEL FINIKAS,36.819626,21.705954,Methóni,GR
488,Les huiles essentielles aux comores,-11.387223,43.29808,Mitsamiouli,KM
507,Hotel Panorama,37.081915,15.275301,Syracuse,IT
511,Ungoofaaru Inn,5.670807,73.02898,Ugoofaaru,MV
568,AliQas Hotel & Restaurant,41.517732,48.921304,Xaçmaz,AZ

In [61]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure